################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HilleroedSejlklubExam/FileContentIndex

/.vs/HilleroedSejlklub/obj
/.vs/HilleroedSejlklubExam/obj
/.vs/HSLibrary/obj
