@page
@using HSLibrary.Models
@model HilleroedSejlklubExam.Pages.Bookings.ShowBookingModel
@{
    ViewData["Title"] = "ShowBookings";
}
<h1>Antal af Bookings @Model.Bookings.Count </h1>

<p>
    <a asp-page="Add Booking"></a>
</p>

