@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hillerød Sejlklub</h1>
    <p>En klub for alle der ønsker at sejle, store som små!</p>
</div>
